@using iSale.Domain.Entities;
@model IEnumerable<User>

@{
    ViewBag.Title = "Our users";
}

<h2>@ViewBag.Title</h2>

@foreach (var p in Model)
{
    <div>
        <h3>@p.NickName</h3>
        @p.Rating
        <h4>@p.RegistrationDate.ToString("d")</h4>
    </div>
}
